@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
$black: #16191c
$gold: linear-gradient(180deg, #FEBC59 0%, #F19C5E 91.15%)
$gray: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%)
$blur: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%)
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', serif
    transition: .3s
    min-width: 0
    min-height: 0
body,html
    scroll-behavior: smooth
    text-rendering: optimizeSpeed
    background-color: $black
.container-fluid
    max-width: 100%
    width: 100%
    padding: 0px 0px
    margin: 0 auto
.container
    max-width: 1440px
    width: 100%
    padding: 0px 40px
    margin: 0px auto
h1,
h2,
h3
    font-size: 48px
h4
    font-size: 34px
section
    margin: 70px 0px
button
    cursor: pointer
    padding: 15px 14px
    background: linear-gradient(160.16deg, #FDBB59 18.04%, #F4A939 94.59%)
    border: 0px none
    border-radius: 5px
    outline: none
    color: #fff
.navbar
    position: relative
    .role
        position: absolute
        top: 0px
        left: 0px
        opacity: .5
        max-height: 100vh
    .nav__content
        .nav__brand
            a
                img
                    margin: 10px auto
                    max-width: 60%
                    display: flex
                    flex-direction: column
                    justify-content: center
    .info__content
        display: flex
        justify-content: space-between
        align-items: center
        align-self: center
        .info__intro
            color: #fff
            h1
                font-size: 34px
                max-width: 60%
                font-weight: 500
            .intro__subtitle
                margin-top: 30px
            .request
                margin-top: 53px
                display: flex
                justify-content: space-between
                align-items: center
                align-self: center
                max-width: 53%
                position: relative
                .request__line
                    position: absolute
                    top: 50px
                    left: 20%
        .info__img
            img
                max-width: 100%
.contact
    background: $gray
    .contact__content
        display: flex
        justify-content: space-evenly
        align-items: center
        align-self: center
        padding: 30px 0px
        .contact__block
            border-right: 2px solid #747576
            min-height: 40px
            max-height: 42px
            padding-right: 40px
            display: flex
            justify-content: space-between
            align-items: center
            align-self: center
            a
                text-decoration: none
                color: #fff
            .insta
                padding-right: 70px
            &:last-child
                border: 0px none
.projects
    margin: 163px 0px
    .projects__content
        .projects__intro
            h1
                color: #fff
                text-align: center
                font-weight: 500
        .projects__slider
            .project__slide
                display: flex
                justify-content: space-between
                p
.workers
    .work__content
        .work__intro
            h1
                color: #fff
                font-weight: 500
                text-align: center
        .work__otdels
            .work__btns
                h4
                    color: #fff
                .work__tabs
                    margin-top: 30px
                    .default
                        background: #1C1F21
                        border: 1px solid #5B5D60
                        margin-left: 14px
                    .active
                        color: #1c1f21
                    .work__workers
                        display: flex
                        max-width: 100%
                        margin-top: 60px
                        .work__images
                            width: 70%
                            position: relative
                            .work__img
                                img
                                    margin-left: 0px
                                p
                                    background: $blur
                                    border-radius: 10px
                                    padding: 10px 15px
                                    backdrop-filter: blur(40px)
                                    color: #fff
                                    position: absolute
                                    bottom: 0px
                        .work__text
                            color: #fff
                            p
                                max-width: 324px
                                margin-top: 10px
                            .worker__slider-btn
                                width: 90%
                                display: flex
                                button
                                    background: transparent
                                    margin: 20px 2px
                                    &:nth-child(1)
                                        margin: 0px 0px
                            .work__slider-btn
                                width: 90%
                                display: flex
                                justify-content: flex-end
                                button
                                    background: transparent
                                    margin: 20px 2px
                                    &:nth-child(1)
                                        margin: 0px 0px
.news
    .news__content
        display: flex
        justify-content: space-between
        .news__img
            position: relative
            img
                max-width: 90%
            .person__info
                display: flex
                width: 100%
                position: absolute
                left: 120px
                bottom: 60px
                button
                    background: $blur
                    backdrop-filter: blur(40px)
                .person__line
                    position: absolute
                    top: 40px
                    left: 150px
                    display: flex
                    p
                        color: #fff
                        margin-left: 12px
                    img
                        max-width: 50%
        .news__intro
            margin: 40px 0px
            h1
                color: #fff
                font-weight: 500
            hr
                max-width: 40%
                border: 1px solid #FDBB59
                margin: 10px 0px
            .news__intro-subtitle
                color: #FDBB59
                margin: 10px 0px
            p
                color: #fff
                margin: 42px 0px
                max-width: 442px
.materials
    color: #fff
    .material__content
        .material__intro
            h1
                text-align: center
                font-weight: 500
        .material__info
            display: flex
            margin-top: 60px
            .material__info-text
                padding: 130px 25px
                background: $blur
                backdrop-filter: blur(40px)
                align-items: center
                border-top-left-radius: 10px
                border-bottom-left-radius: 10px
                .material__text
                    display: flex
                    p
                        margin: 10px 12px
                        font-size: 16px 
            .material__info-img
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                .material__img
                    position: relative
                    p
                        padding: 10px 15px
                        background-color: #0D1012
                        border-radius: 5px
                        position: absolute
                        bottom: -10px
                        left: 10%
                        z-index: 2
                        min-width: 173px
                        max-width: 173px
                        text-align: center
                        border: 1px solid
                        border: 1px linear linear-gradient(270deg, rgba(250, 177, 90, 0) -3.2%, rgba(250, 177, 90, 0.71) 38.12%, rgba(250, 177, 90, 0.53) 52.75%, rgba(250, 177, 90, 0.81) 73.24%, rgba(250, 178, 90, 0) 104.81%)

@media screen and (max-width: 1240px)
    .container
        max-width: 1240px
        width: 100%
        padding: 0px 10px
        margin: 0 auto
@media screen and (max-width: 920px)
    .container
        max-width: 920px
        width: 100%
        padding: 0px 10px
        margin: 0 auto
    h1,h2,h3
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 920))
