@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  transition: 0.3s;
  min-width: 0;
  min-height: 0;
}

body, html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: #16191c;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0px 40px;
  margin: 0px auto;
}

h1,
h2,
h3 {
  font-size: 48px;
}

h4 {
  font-size: 34px;
}

section {
  margin: 70px 0px;
}

button {
  cursor: pointer;
  padding: 15px 14px;
  background: linear-gradient(160.16deg, #FDBB59 18.04%, #F4A939 94.59%);
  border: 0px none;
  border-radius: 5px;
  outline: none;
  color: #fff;
}

.navbar {
  position: relative;
}
.navbar .role {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  max-height: 100vh;
}
.navbar .nav__content .nav__brand a img {
  margin: 10px auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar .info__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.navbar .info__content .info__intro {
  color: #fff;
}
.navbar .info__content .info__intro h1 {
  font-size: 34px;
  max-width: 60%;
  font-weight: 500;
}
.navbar .info__content .info__intro .intro__subtitle {
  margin-top: 30px;
}
.navbar .info__content .info__intro .request {
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  max-width: 53%;
  position: relative;
}
.navbar .info__content .info__intro .request .request__line {
  position: absolute;
  top: 50px;
  left: 20%;
}
.navbar .info__content .info__img img {
  max-width: 100%;
}

.contact {
  background: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
}
.contact .contact__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  padding: 30px 0px;
}
.contact .contact__content .contact__block {
  border-right: 2px solid #747576;
  min-height: 40px;
  max-height: 42px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.contact .contact__content .contact__block a {
  text-decoration: none;
  color: #fff;
}
.contact .contact__content .contact__block .insta {
  padding-right: 70px;
}
.contact .contact__content .contact__block:last-child {
  border: 0px none;
}

.projects {
  margin: 163px 0px;
}
.projects .projects__content .projects__intro h1 {
  color: #fff;
  text-align: center;
  font-weight: 500;
}
.projects .projects__content .projects__slider .project__slide {
  display: flex;
  justify-content: space-between;
}
.workers .work__content .work__intro h1 {
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.workers .work__content .work__otdels .work__btns h4 {
  color: #fff;
}
.workers .work__content .work__otdels .work__btns .work__tabs {
  margin-top: 30px;
}
.workers .work__content .work__otdels .work__btns .work__tabs .default {
  background: #1C1F21;
  border: 1px solid #5B5D60;
  margin-left: 14px;
}
.workers .work__content .work__otdels .work__btns .work__tabs .active {
  color: #1c1f21;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers {
  display: flex;
  max-width: 100%;
  margin-top: 60px;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__images {
  width: 70%;
  position: relative;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__images .work__img img {
  margin-left: 0px;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__images .work__img p {
  background: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  border-radius: 10px;
  padding: 10px 15px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  color: #fff;
  position: absolute;
  bottom: 0px;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__text {
  color: #fff;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__text p {
  max-width: 324px;
  margin-top: 10px;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__text .worker__slider-btn {
  width: 90%;
  display: flex;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__text .worker__slider-btn button {
  background: transparent;
  margin: 20px 2px;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__text .worker__slider-btn button:nth-child(1) {
  margin: 0px 0px;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__text .work__slider-btn {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__text .work__slider-btn button {
  background: transparent;
  margin: 20px 2px;
}
.workers .work__content .work__otdels .work__btns .work__tabs .work__workers .work__text .work__slider-btn button:nth-child(1) {
  margin: 0px 0px;
}

.news .news__content {
  display: flex;
  justify-content: space-between;
}
.news .news__content .news__img {
  position: relative;
}
.news .news__content .news__img img {
  max-width: 90%;
}
.news .news__content .news__img .person__info {
  display: flex;
  width: 100%;
  position: absolute;
  left: 120px;
  bottom: 60px;
}
.news .news__content .news__img .person__info button {
  background: linear-gradient(122.61deg, rgba(252, 254, 255, 0.3) 30.49%, rgba(252, 254, 255, 0.1) 74.05%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.news .news__content .news__img .person__info .person__line {
  position: absolute;
  top: 40px;
  left: 150px;
  display: flex;
}
.news .news__content .news__img .person__info .person__line p {
  color: #fff;
  margin-left: 12px;
}
.news .news__content .news__img .person__info .person__line img {
  max-width: 50%;
}
.news .news__content .news__intro {
  margin: 40px 0px;
}
.news .news__content .news__intro h1 {
  color: #fff;
  font-weight: 500;
}
.news .news__content .news__intro hr {
  max-width: 40%;
  border: 1px solid #FDBB59;
  margin: 10px 0px;
}
.news .news__content .news__intro .news__intro-subtitle {
  color: #FDBB59;
  margin: 10px 0px;
}
.news .news__content .news__intro p {
  color: #fff;
  margin: 42px 0px;
  max-width: 442px;
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 1240px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 920px) {
  .container {
    max-width: 920px;
    width: 100%;
    padding: 0px 10px;
    margin: 0 auto;
  }
  h1, h2, h3 {
    font-size: calc(24px + 27.2 * (100vw - 320px) / 920);
  }
}/*# sourceMappingURL=main.css.map */